# Build
/target/

# IDE
/.idea/
/*.iml
/.vscode/

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp

# Banco local
/data/

# Docker local
docker-compose.override.yml
.env

# Chaves ou senhas
*.keystore
